<h3 mat-dialog-title align="center">
  {{ data !== null ? "Editar sucursal" : "Crear sucursal" }}
</h3>

<p>
  NOTA:
  Los campos marcados con un (*) son obligatorios.
</p>
<br>

<mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="filter-select" appearance="outline">
        <mat-label>Zona</mat-label>
        <mat-select [(ngModel)]="sucursal.zona" placeholder="Elige la zona" required>
          @for (z of zonas; track z) {
          <mat-option [value]="z._id">
            {{ z.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="div-form">
        <mat-label>Nombre de sucursal</mat-label>
        <input matInput placeholder="Indica el nombre de la sucursal" [(ngModel)]="sucursal.name" required />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="div-form">
        <mat-label>Hora de cierre</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <input matInput type="time" [(ngModel)]="sucursal.hora_cierre" placeholder="Indica la hora de cierre" />
      </mat-form-field>
    </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="textarea-large">
        <mat-label>Encabezado del ticket</mat-label>
          <textarea matInput [(ngModel)]="sucursal.ticketHeader" rows="5"></textarea>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field>
          <textarea matInput placeholder="Footer del ticket" [(ngModel)]="sucursal.ticketFooter" rows="5"></textarea>
        </mat-form-field>
      </div>
    </div>
    <br>

  <div class="row">
    <div class="col-md-4">
      <h5>Permisos de la sucursal</h5>
      <mat-form-field>
        <mat-select [(ngModel)]="sucursal.configuracion.tipo" placeholder="Tipo de sucursal">
          @for (t of this.tipos; track t) {
          <mat-option [value]="t">
            {{ t }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <section>
        <span class="span-between">
          Bajar barras sin clave
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['bajarBarrasAntes']"></mat-slide-toggle>
        </span>

        <span class="span-between">
          Cerrar sin depósito
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['cerrarSinDeposito']"></mat-slide-toggle>
        </span>

        <span class="span-between">
          Pedir clave para gastos
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['claveGastos']"></mat-slide-toggle>
        </span>

        <span class="span-between">
          Pedir clave para ingresos
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['authIn']"></mat-slide-toggle>
        </span>

        <span class="span-between">
          Pedir clave para salidas
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['authOut']"></mat-slide-toggle>
        </span>

        <span class="span-between">
          Pedir clave para traspasos
          <mat-slide-toggle [(ngModel)]="sucursal.configuracion['authTransfer']"></mat-slide-toggle>
        </span>
      </section>
      <br>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="sucursal.configuracion.numeroCopiasCorte"
          placeholder="Número de copias del corte" min="1" max="2" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="sucursal.configuracion.cajaMaxima" placeholder="Caja máxima en corte"
          min="0" />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <h5>Configuración de pollo</h5>
      <mat-form-field>
        <input matInput type="number" [(ngModel)]="sucursal.configuracion.tiempoCoccionPollo"
          placeholder="Tiempo de cocción del pollo (min)" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="sucursal.configuracion.cantidadDePreparado"
          placeholder="Cantidad de preparado (kg)" />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <h5>Configuración del taco</h5>

      <section>
        <label>Materia para taco: </label>
        <mat-radio-group [(ngModel)]="sucursal.configuracion.materiaTaco">
          <br />
          <mat-radio-button value="pollo">Pollo para taco</mat-radio-button><br />
        </mat-radio-group>
      </section>
      <br>

      <mat-form-field>
        <input matInput type="number" [(ngModel)]="sucursal.configuracion.mezclaPorTaco"
          placeholder="Cantidad para cada taco (kg)" />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="addSucursal()">Guardar</button>
</mat-dialog-actions>