<div>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portal</title>
        <!-- <link rel="stylesheet" media="all" href="style.css" /> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content">
        <h1>Bienvenido {{ username }}</h1>
        <!-- <img src="https://pos-backend.s3.us-east-2.amazonaws.com/1583348467228" alt=""> -->
        <img class="img-logo" src="../../../assets/svg/logo1.svg" >
    </div>
    </body>
</div>
  