<mat-card appearance="outlined" class="form-card">
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="filter-search">
          <!-- <input matInput [matDatepicker]="datepicker" [(ngModel)]="date" placeholder="Fecha" (dateChange)="getSesiones()"> -->
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="date" placeholder="Fecha inicio">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="filter-search">
          <input matInput [matDatepicker]="datepicker2" [(ngModel)]="date_to" placeholder="Fecha fin">
          <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #datepicker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="filter-select" appearance="outline">
          <mat-label>Selecciona zona</mat-label>
          <mat-select [(ngModel)]="selectedZone" (selectionChange)="getSucursales(selectedZone._id)">
            @for (zona of zonas; track zona) {
            <mat-option [value]="zona"> {{zona.name}} </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        @if (selectedZone) {
        <mat-form-field class="filter-select" appearance="outline">
          <mat-label>Selecciona una sucursal</mat-label>
          <!-- <mat-select [(ngModel)]="selectedSuc" (selectionChange)="getSesiones()"> -->
          <mat-select [(ngModel)]="selectedSuc">
            <mat-option value='all'> - Todas las suscursales - </mat-option>
            @for (s of sucursales; track s) {
            <mat-option [value]="s._id"> {{s.name}} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </div>
      @if (user?.credentials?.registros_y_movimientos?.movimientos_de_inventario?.consultar_detalle) {
      <div class="col">
        @if (selectedSuc) {
        <mat-form-field class="filter-select" appearance="outline">
          <mat-label>Selecciona producto</mat-label>
          <mat-select [(ngModel)]="selectedProduct">
            <mat-option value='undefined'> - Todos - </mat-option>
            @for (product of productos; track product) {
            <mat-option [value]="product._id"> {{product.name}} </mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </div>
      }

      <div class="col">
        <button (click)="buscar()"
          [disabled]="selectedSuc == undefined || date == undefined || date_to == undefined || !user?.credentials?.registros_y_movimientos?.movimientos_de_inventario?.consultar_resumen"
          mat-flat-button color="warn"> Resumen</button>
      </div>
      <div class="col">
        @if (user?.credentials?.registros_y_movimientos?.movimientos_de_inventario?.consultar_detalle) {
        <button (click)="buscarDetalles()"
          [disabled]="selectedSuc == undefined || date == undefined || date_to == undefined || (selectedSuc === 'all' && (selectedProduct == undefined || selectedProduct === 'undefined'))"
          mat-flat-button color="warn"> Cargar detalle de movimientos</button>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  @if (productSummary != null) {
  <div class="col">
    <mat-card class="form-card">
      <mat-card-title>Pollo Rostizado</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <p><b>Entradas</b></p>
            @if (productSummary.incs.length == 0) {
            <p><i>No hay registros.</i></p>
            }
            @if (productSummary.incs.length != 0) {
            <table mat-table [dataSource]="productSummary.incs" class="mat-elevation-z8">
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.tipo == 1 && element.subtipo === 'TRA') {
                  TRASPASO
                  }
                  @if (element.tipo == 1 && element.subtipo === 'PROD') {
                  PRODUCCIÓN
                  }
                  @if (element.tipo == 1 && element.subtipo === 'DIR') {
                  DIRECTO
                  }
                  @if (element.tipo == 1 && element.subtipo === 'COMP') {
                  COMPRA
                  }
                  @if (element.tipo == 3 && element.subtipo === 'DEV') {
                  CANCELACION DE VENTA
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.total}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
            </table>
            }
          </div>
          <div class="col">
            <p><b>Salidas</b></p>
            @if (productSummary.decs.length == 0) {
            <p><i>No hay registros.</i></p>
            }
            @if (productSummary.decs.length != 0) {
            <table mat-table [dataSource]="productSummary.decs" class="mat-elevation-z8">
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.tipo == 0 && element.subtipo === 'DIR') {
                  DIRECTA
                  }
                  @if (element.tipo == 0 && element.subtipo === 'COCINA') {
                  POLLO PARA TACO
                  }
                  @if (element.tipo == 0 && element.subtipo === 'TRA') {
                  TRASPASO
                  }
                  @if (element.tipo == 4 && element.subtipo === 'SALE') {
                  VENTA
                  }
                  @if (element.tipo == 5 && element.subtipo === 'MERMA') {
                  MERMA
                  }
                  @if (element.tipo == 4 && element.subtipo === 'GIFT') {
                  CORTESIA
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.total}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
            </table>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }
  @if (materiaSummary != null) {
  <div class="col">
    <mat-card class="form-card">
      <mat-card-title>Pollo Crudo</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <p><b>Entradas</b></p>
            @if (materiaSummary.incs.length == 0) {
            <p><i>No hay registros.</i></p>
            }
            @if (materiaSummary.incs.length != 0) {
            <table mat-table [dataSource]="materiaSummary.incs" class="mat-elevation-z8">
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.tipo == 1 && element.subtipo === 'TRA') {
                  TRASPASO
                  }
                  @if (element.tipo == 1 && element.subtipo === 'PROD') {
                  CANCELACIÓN DE PRODUCCIÓN
                  }
                  @if (element.tipo == 1 && element.subtipo === 'DIR') {
                  DIRECTO
                  }
                  @if (element.tipo == 1 && element.subtipo === 'COMP') {
                  COMPRA
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.total}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
            </table>
            }
          </div>
          <div class="col">
            <p><b>Salidas</b></p>
            @if (materiaSummary.decs.length == 0) {
            <p><i>No hay registros.</i></p>
            }
            @if (materiaSummary.decs.length != 0) {
            <table mat-table [dataSource]="materiaSummary.decs" class="mat-elevation-z8">
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element">
                  @if (element.tipo == 0 && element.subtipo === 'TRA') {
                  TRASPASO
                  }
                  @if (element.tipo == 0 && element.subtipo === 'PROD') {
                  PRODUCCIÓN
                  }
                  @if (element.tipo == 0 && element.subtipo === 'DIR') {
                  DIRECTA
                  }
                  @if (element.tipo == 5 && element.subtipo === 'MERMA') {
                  MERMA
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.total}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
            </table>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }
</div>

@if (searched2) {
<mat-card class="form-card">
  <!-- <mat-card-header>
    <mat-card-title>Datos del reporte</mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <div class="row">
      <div class="col">
        <div style="float: left;">
          <h3>{{rows.length}} Movimientos</h3>
          <div style="display: block; margin-bottom: 0.5em;"></div>
          @if (rows != undefined && rows.length != 0 &&
          user?.credentials?.registros_y_movimientos?.movimientos_de_inventario?.exportar_detalle) {
          <button (click)="export()" mat-flat-button color="green"
            style="margin-bottom: 1em;"><mat-icon>get_app</mat-icon> Exportar</button>
          }
        </div>
        <div class="tabla-scroll">
          <table id="inventory-movements-table" mat-table [dataSource]="rows" class="mat-elevation-z8">
            <ng-container matColumnDef="cant">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element.cant.toFixed(2)}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell class="text-left" *matCellDef="let element"> {{element?.materia != undefined &&
                element?.materia != null ? element?.materia?.name + ' (' + element?.materia?.unidad + ')' :
                element?.producto?.name+ ' (' + element?.producto?.unidad + ')' }} </td>
            </ng-container>
            <ng-container matColumnDef="tipo_item">
              <th mat-header-cell *matHeaderCellDef> Tipo de producto </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element.materia != null && element.materia
                != undefined ? 'Materia' : 'Producto' }} </td>
            </ng-container>
            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element.tipo == 1 ? 'Entrada' : 'Salida'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="decoded_tipo">
              <th mat-header-cell *matHeaderCellDef> Subtipo </th>
              <td mat-cell class="text-center" *matCellDef="let element">
                @if (element.tipo == 0) {
                @if (element.subtipo === 'COCINA') {
                POLLO PARA TACO
                }
                @if (element.subtipo === 'PROD') {
                PRODUCCIÓN
                }
                @if (element.subtipo === 'DIR') {
                AJUSTE
                }
                @if (element.subtipo === 'TRA') {
                TRASPASO
                }
                }
                @if (element.tipo == 1) {
                @if (element.subtipo === 'COCINA') {
                COCINA
                }
                @if (element.subtipo === 'PROD') {
                PRODUCCIÓN
                }
                @if (element.subtipo === 'DIR') {
                AJUSTE
                }
                @if (element.subtipo === 'TRA') {
                TRASPASO
                }
                @if (element.subtipo === 'COMP') {
                COMPRA
                }
                }
                @if (element.tipo == 3) {
                @if (element.subtipo === 'DEV') {
                CANCELACIÓN DE VENTA
                }
                }
                @if (element.tipo == 4) {
                @if (element.subtipo === 'SALE') {
                VENTA
                }
                @if (element.subtipo === 'GIFT') {
                CORTESIA
                }
                }
                @if (element.subtipo === 'DEV_GIFT') {
                CORTESIA CANCELADA
                }
                @if (element.subtipo === 'MERMA') {
                MERMA
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="comentario">
              <th mat-header-cell *matHeaderCellDef> Comentario </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element?.comments}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="subtipo">
          <th mat-header-cell *matHeaderCellDef> Subtipo </th>
          <td mat-cell class="text-center" *matCellDef="let element"> {{element.subtipo}} </td>
        </ng-container> -->
            <ng-container matColumnDef="venta">
              <th mat-header-cell *matHeaderCellDef> Venta </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element?.venta?.ticket}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element.fecha | amLocale:'es' |
                amDateFormat:'DD/MM/YYYY h:mm a' }} </td>
            </ng-container>
            <ng-container matColumnDef="desucursal">
              <th mat-header-cell *matHeaderCellDef> Origen </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element?.desucursal?.name}} </td>
            </ng-container>
            <ng-container matColumnDef="asucursal">
              <th mat-header-cell *matHeaderCellDef> Destino </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element?.asucursal?.name}} </td>
            </ng-container>
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef> _id </th>
              <td mat-cell class="text-center" *matCellDef="let element"> {{element?._id}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-header-row
              *matHeaderRowDef="['filter1', 'filter2', 'filter3', 'filter4', 'filter5', 'filter6', 'filter7', 'filter8', 'filter9']">
            </tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
            <ng-container matColumnDef="filter1">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>
            <ng-container matColumnDef="filter2">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar..." autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="nombre">
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter3">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <mat-label>Filtrar...</mat-label>
                  <mat-select (selectionChange)="updateFilters()" [(ngModel)]="tipo_item">
                    <mat-option value="-"> Todos </mat-option>
                    <mat-option value="0"> Materia </mat-option>
                    <mat-option value="1"> Producto </mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter4">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <mat-label>Filtrar...</mat-label>
                  <mat-select (selectionChange)="updateFilters()" [(ngModel)]="tipo">
                    <mat-option value="-"> Todos </mat-option>
                    <mat-option value="1"> Entrada </mat-option>
                    <mat-option value="0"> Salida </mat-option>
                  </mat-select>
                </mat-form-field>
              </th>
            </ng-container>
            <!-- <ng-container matColumnDef="filter5">
        <th mat-header-cell *matHeaderCellDef>
        </th>
      </ng-container> -->
            <ng-container matColumnDef="filter5">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar" autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="subtipo">
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter6">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar" autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="comentario">
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter7">
              <th mat-header-cell width="80" *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar..." autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="ticket">
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter8">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput readonly>
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter9">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar..." autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="origin">
                </mat-form-field>
              </th>
            </ng-container>
            <ng-container matColumnDef="filter10">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="filter-search" appearance="outline">
                  <input matInput placeholder="Filtrar..." autocomplete="off" (keyup)="updateFilters()"
                    [(ngModel)]="dest">
                </mat-form-field>
              </th>
            </ng-container>
          </table>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
}

<!-- <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop:true }"></ngx-loading> -->
<ngx-spinner type="pacman" size="medium"></ngx-spinner>