@media only screen and (max-width: 767px) {
  .col-3 {
    width: 100%;
  }

  .btn-g,
  .btn-c,
  .btn-cancel {
    width: 100%;
    margin: 0.5rem;
  }
}

.full-width {
  width: 100%;
}

.btn-g {
  margin-left: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-width: 0;
  border-radius: 4px;
  background-color: #444dd0;
  color: #ffff;
}

.btn-cancel {
  margin-left: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-width: 0;
  border-radius: 4px;
  background-color: #f44336;
  color: #ffff;
}


/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
  border-top: 5px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix .mat-select-arrow {
  margin-top: 10px !important;
}

.container {
  max-height: 80vh;

}
.scroll{
  overflow-y: auto;
  max-height: 80vh;

}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-form-field .mat-form-field-suffix button {
  margin-bottom: -17px !important;
  height: 20px !important;
  margin-top: -19px;
}

.form-group {
  text-align: left !important;
}

.form-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* <-- Añade espacio entre todas las filas del formulario */
}

.row {
  margin-bottom: 16px;
  /* Espacio entre filas */
}

.col-3,
.col-4,
.col-6,
.col-12 {
  padding: 0 8px;
  /* Añade espacio horizontal entre columnas */
  box-sizing: border-box;
}

.custom-textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.38);
  /* borde estilo Angular Material */
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  resize: vertical;
  outline: none;
  background-color: transparent;
  /* sin fondo */
  color: #000;
  /* texto negro (ajústalo si usas modo oscuro) */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.custom-textarea:focus {
  border: 2px solid #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}
