table {
  width: 100%;
  .mat-mdc-header-cell {
    padding: 16px 8px;

  }

  .mat-mdc-cell {
    padding: 12px 8px;
  }
}

  mat-form-field {
    width: 100%;
  }

  .text-align-right {
    text-align: right;
  }

  .text-center{
    text-align: center;
  }

  .red-bad{
    background-color: darkred;
    color: white;
  }

  .form-card {
    padding: 1.5rem;
  }
