<div style="text-align: right;">
  @if (user?.credentials?.personal?.tipos_de_contratos?.agregar) {  
    <button mat-flat-button color="primary" (click)="openDialogCreate()">
	    + Agregar tipo
    </button>
  }
</div>
<br>
  <mat-card appearance="outlined" class="form-card mat-elevation-z8" [hidden]="!user?.credentials?.personal?.tipos_de_contratos?.ver_tbl">
    <mat-card-content>
      
      <div class="div-search">
          <mat-form-field class="filter-search" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
                matInput
                placeholder="Filtrar por texto..."
                [(ngModel)]="filtroTexto"
                (input)="aplicarFiltro()"
                />
          </mat-form-field>
      </div>

      <div class="mat-elevation-z8" style="text-align-last: center;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              @if (user?.credentials?.personal?.tipos_de_contratos?.editar) {
                <button 
                class="action-button"
                mat-icon-button 
                matTooltip="Editar"
                aria-label="Editar"
                (click)="openDialogEdit(element)" 
                class="edit">
                <mat-icon>edit</mat-icon>
                </button>
              }
              @if (user?.credentials?.personal?.tipos_de_contratos?.eliminar) {
                <button 
                mat-icon-button 
                matTooltip="Eliminar"
                aria-label="Eliminar"
                (click)="delete(element._id)" 
                class="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              }
            </td>
          </ng-container>

          <!-- fila -->
          <tr mat-header-row *matHeaderRowDef="['name', 'description', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'actions']"></tr>
        </table>
        <mat-paginator 
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>