.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #3f51b5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
      rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
      Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    margin-right: 14px;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .fixed-r {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    //margin-top: 2rem;
  }
  
  .filter-input {
    align-self: center;
  }
  
  .search-button {
    margin-left: 8px;
  }
  
  #divSearch {
    margin-bottom: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
  
  #filterSearch {
    justify-self: center;
  }
  
  .delete {
    color: #f44336;
  }
  
  .edit {
    color: #3f51b5;
  }

  table {
    width: 100%;

    .mat-mdc-header-cell {
      padding: 4px 8px !important; 
      font-size: 13px;       
      line-height: 1.2;      
  }
    
    .mat-mdc-cell {
    padding: 4px 8px !important;
    font-size: 13px;
    line-height: 1.2;
  }
}

  /* Alterna los colores de las filas */
.mat-mdc-row:nth-child(odd) {
  background-color: #f5f5f5; 
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff; 
}

/* Cambia el color al pasar el mouse */
.mat-mdc-row:hover {
  background-color: #e0e0e0; 
}

.pointer {
  cursor: pointer;
  transition: color 0.3s;
}

.pointer:hover {
  color: #5c6bc0; 
}

  
  