<mat-dialog-content>
  <h3 mat-dialog-title align="center">{{data !== null ? 'Editar tipo' : 'Crear tipo'}}</h3>

  <!-- Formulario principal (tipo) -->
  <form [formGroup]="tipoForm" (ngSubmit)="addTipo()">
     <div class="inline-form">
    <mat-form-field class="filter-search" appearance="outline">
      <input autocomplete="off"  matInput required placeholder="Nombre" formControlName="nombre" (change)="changeName()">
    </mat-form-field>
    <mat-form-field class="filter-search" appearance="outline">
      <input autocomplete="off" matInput placeholder="Descripción" formControlName="descripcion">
    </mat-form-field>
    @if (showTipoButtom) {
      <button class="button-9" type="submit" mat-flat-button color="primary"> Guardar tipo</button>
    }
    </div>
  </form>
  <p style="visibility: hidden;">{{ tipoId }}</p>
  <!-- Formulario subtipos -->
  @if (showSubtipoForm) {
    <h4 mat-dialog-subtitle align="left">Crear subtipo</h4>
    <form [formGroup]="subtipoForm" (ngSubmit)="addSubtipo(tipoId)">
      <div class="inline-form">
      <mat-form-field class="filter-search" appearance="outline">
        <input autocomplete="off" matInput required placeholder="Nombre" formControlName="subnombre">
      </mat-form-field>
      <mat-form-field class="filter-search" appearance="outline">
        <input autocomplete="off" matInput placeholder="Descripción" formControlName="subdescripcion">
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary">+ Agregar</button>
    </div>
    </form>
  }
  <!-- Tabla para subtipos -->
  @if (showSubtipoTable) {
    <div>
      <h4 mat-dialog-subtitle align="left">Editar subtipos</h4>
      <table mat-table [dataSource]="subtipos" class="w-100">
        <ng-container matColumnDef="nombreSubtipo">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let subtipo">
            <input class="column-input" (change)="changeToEdited()" [(ngModel)]="subtipo.nombre"
              [disabled]="subtipo.isEdit">
            </td>
          </ng-container>
          <ng-container matColumnDef="descripcionSubtipo">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let subtipo">
              <input class="column-input" [(ngModel)]="subtipo.descripcion" [disabled]="subtipo.isEdit">
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let subtipo">
              <div>
                @if (subtipo.isEdit === true) {
                  <mat-icon color="primary" class="pointer"
                  style="margin-right: 5px;" (click)="toggleEdit(subtipo)"> edit </mat-icon>
                } @else {
                  <mat-icon style="color: #f3c545;" (click)="updateSubtipos(subtipo)">save</mat-icon>
                }
                <mat-icon color="warn" class="pointer" style="margin-left: 5px;" (click)="removeSubtipo(subtipo._id)">
                delete </mat-icon>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    }

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button (click)="closeDialog()" type="button" color="warn">Cerrar </button>
  </mat-dialog-actions>
