

.grid-form {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.input {
  border: solid 1px #999595;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
    margin: 1.5rem;
}

.column-input {
  border-bottom: solid 1px #999595;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 80%;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
}

.grid-2-col {
  display: grid;
  column-gap: 5%;
  grid-template-columns: 80% 15%;
}
input[type="file"] {
    display: none;
  }

.custom-file-upload {
    display: inline-block;
}

.doc{
  border-width: 2px;
  border-style: solid;

  border-radius: 10px;

  margin: 2px;
  text-align: center;
}

.size19{
  width: 19%;
}
.w-33{
  width: 33%;
}
/* For Mobile */
@media screen and (max-width: 540px) {
  .size19{
    width: 100%;
  }
  .w-33{
    width: 85%;
  }
}


.size-image{
  width: 60%;
  height: auto;
}
.gray{
  border-color: gray;
}

.white{
  border-color: white;
}

.inline-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.inline-form mat-form-field {
  flex: 1;
  min-width: 200px;
}

.inline-form button {
  height: 56px;
  white-space: nowrap;
}
