

.btn-cancel {
    margin-left: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-width: 0;
    border-radius: 4px;
    background-color: #f44336;
    color: #ffff;
}

.btn-g {
    margin-left: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-width: 0;
    border-radius: 4px;
    background-color: #444dd0;
    color: #ffff;
}

.btn-g:disabled {
    background-color: gray;
    color: #ffff;
}

.dialog-content-scroll {
    max-height: 70vh; /* Ajusta el valor según tus necesidades */
    overflow-y: auto;
}

.edit {
  color: #f3c545;
}

.delete {
  color: #f44336;
}