
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-actions {
    display: flex;
    justify-content: flex-end;  
  }
  .center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .email-sent {
    color: green;
    font-weight: bold;
}

.email-not-sent {
    color: red;
    font-weight: bold;
}