<h1 mat-dialog-title align="center">{{ tittle }}</h1>
<mat-dialog-content>
    <br>
    <form [formGroup]="tipoContratoForm" style="text-align: center">
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" class="div-form">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingrese un nombre" formControlName="name" (input)="tipoContratoForm.get('name').setValue(convertirAMayusculas($event.target.value))">
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="div-form">
                  <mat-label>Descripción</mat-label>
                  <input matInput placeholder="Ingrese un nombre" formControlName="description" (input)="tipoContratoForm.get('description').setValue(convertirAMayusculas($event.target.value))"/>
                </mat-form-field>
              </div>
        </div>
    </form>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
    <button mat-flat-button color="warn" (click)="cancelar()">
	    Cancelar
    </button> 
    <button mat-flat-button color="primary" (click)="trimValues()" [disabled]="tipoContratoForm.invalid">
	    Guardar
    </button>
</mat-dialog-actions>
