mat-form-field {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  width: 100%
}

.text-align-right {
  text-align: right;
}
table {
  width: 100%;
  .mat-mdc-header-cell {
    padding: 16px 8px; 

  }
  
  .mat-mdc-cell {
    padding: 12px 8px; 
  }
}

