<div class="row">
  <div class="col">
    <br>

    @if (isManager()) {

    <div> <!-- Contenedor principal -->

      @if (user?.credentials?.zonas_y_sucursales?.sucursales?.agregar) {
      <div class="text-align-right">
        <button mat-flat-button color="primary" (click)="openDialog()">+ Agregar sucursal</button>
        <br>
      </div>
      }

      @if (user?.credentials?.zonas_y_sucursales?.sucursales?.ver_sucursales) {
      <mat-card class="mb-3 w-100 p-3" style="margin-top: 1rem">
      <mat-form-field class="filter-select" appearance="outline">
        <mat-label>Zona</mat-label>
        <mat-select (selectionChange)="getSucursales($event)" [(ngModel)]="zona" placeholder="Elige la zona">
          @for (z of zonas; track z) {
          <mat-option [value]="z._id"> {{z.name}} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      </mat-card>

      }

      @if (user?.credentials?.zonas_y_sucursales?.sucursales?.ver_sucursales) {
      <mat-list>

        @for (s of sucursales; track s) {

        <mat-card class="mb-3 w-100 p-3">
          <div class="d-flex justify-content-between align-items-center w-100">

            <span class="pointer" (click)="edit(s)">
              {{ s.name }}
            </span>

            @if (user?.credentials?.zonas_y_sucursales?.sucursales?.editar) {
            <span class="pointer" (click)="edit(s)">
              Editar
            </span>
            }
          </div>
        </mat-card>

        }

      </mat-list> <!-- CIERRE FALTANTE -->

      } <!-- cierre ver_sucursales -->

    </div> <!-- cierre contenedor principal -->

    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>

    } <!-- cierre isManager -->

  </div>
</div>