
<div  style="text-align: right;">
  @if (user?.credentials?.personal?.tipos_de_empleados?.agregar) {
    <button mat-flat-button color="primary" class="pointer" (click)="openDialogCreate()">
      + Agregar tipo
    </button>
  }
</div>
<br>

  <mat-card appearance="outlined" style="text-align: center;" [hidden]="!user?.credentials?.personal?.tipos_de_empleados?.ver_tbl">
    <mat-card-content>
      <!-- Filtro de texto -->
       <div class="div-search">
          <mat-form-field class="filter-search" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Filtrar por texto..."
            [(ngModel)]="filtroTexto"
            (input)="aplicarFiltro()"
          />
        </mat-form-field>
       </div>
      

      <div class="mat-elevation-z8" style="text-align-last: center">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <ng-container matColumnDef="prefijo">
            <th mat-header-cell *matHeaderCellDef>Prefijo</th>
            <td mat-cell *matCellDef="let element">{{ element.prefijo }}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td class="truncate-text" mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              @if (user?.credentials?.personal?.tipos_de_empleados?.editar) {
                <button mat-icon-button (click)="openDialogEdit(element)" class="pointer" matTooltip="Editar">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              }
              @if (user?.credentials?.personal?.tipos_de_empleados?.eliminar) {
                <button mat-icon-button (click)="deleteTipo(element._id)" class="pointer" matTooltip="Eliminar">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              }
            </td>
          </ng-container>

          <!-- Definiciones de fila -->
          <tr mat-header-row *matHeaderRowDef="['nombre', 'prefijo', 'descripcion', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['nombre', 'prefijo', 'descripcion', 'actions']"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
